* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    height: 10vh;
    background-color: #022859;
}

.nav-link {
    text-decoration: none;
    color: white; /* Color del texto de los enlaces */
    /*font-size: 18px;*/
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.nav-link:hover {
    color: #F2CD13; /* Color al pasar el mouse sobre el enlace */
}

.nav-link:active, .nav-link:focus {
    color: #FFD700; /* Color al presionar el enlace y mantenerlo seleccionado */
}

.logo img {
    width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
    height: 100%;
}

.social-icons {
    display: flex;
    gap: 10px; /* Espacio entre los iconos */
}

.social-icons a img {
    width: 30px; /* Ajusta el tamaño de los iconos según tus necesidades */
    height: 30px;
}

section {
    width: 100%;
    height: 80vh;
    background-color: #F2E5A0;
    border-top: 3px solid #F2CD13;
    border-bottom: 3px solid #F2CD13;
}

.image-section {
    /* position:relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    /* background: url('/Img/fondo_inicio.jpg') no-repeat center center/cover; */
}

.fondo_principal{
    width: 100%;
    height: 80vh;
}

/* .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
} */

footer {
    width: 100%;
    height: 10vh;
    background-color: #022859;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:medium;
    padding-top: 15px;
}

